<table class="table" style="">
  <thead>
      <tr>
          <th style="width:10px; ">Status</th>
          <th>Name</th>
          <th>Project</th>
          <th>Job Started</th>
          <th>Build time</th>
          {% if session.logged_in %}
          <th>Actions</th>
          {% endif %}
      </tr>
  </thead>
  <tbody>
      {% for row in entries %}
      <tr>
          <td class="smallrow"><i class="{{ get_status_icon(row.STATUS) }} fa-2x"></i></td>
          <td><a href="/jobs/id/{{ row.ID }}">{{ row.NAME }}</a></td>
          <td>{{ row.PROJECT }}</td>
          <td>{{ row.START }}</td>
          <td><a href="#" data-toggle="tooltip" title="{{ row.END }}">{{ row.SPAN }}</a></td>
          {% if session.logged_in %}
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
              <button type="button" class="btn btn-default btn-danger"><i class="glyphicon glyphicon-remove-circle"></i> Delete</button>
              <button type="button" class="btn btn-default btn-info"><i class="glyphicon glyphicon-play-circle"></i> Start</button>
              <button type="button" class="btn btn-default btn-warning"><i class="glyphicon glyphicon-ban-circle"></i> Abort</button>
            </div>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>
