<table class="table" style="">
    <thead>
        <tr>
            <th style="width:10px; ">Status</th>
            <th>Name</th>
            <th>Job Started</th>
            <th>Build time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in entries %}
        <tr>
            <td class="smallrow"><i class="{{ get_status_icon(row.status) }} fa-2x"></i></td>
            <td><a href="/jobs/id/{{ row.id }}">{{ row.name }}</a></td>
            <td>{{ row.start }}</td>
            <td><a data-toggle="tooltip" title="{{ row.end }}" style="color:inherit">{{ row.span }}</a></td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> Show log</button>
                    {% if session.logged_in %}
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i> Delete</button>
                        {% if row.status == 0 or row.status == 5 %}
                            <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-play-circle"></i> Start</button>
                        {% endif %}
                        {% if row.status == 4 or row.status == 5 %}
                            <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-ban-circle"></i> Abort</button>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
