{% macro activetab(tab) %}{% if tab == g.selected_tab %} class="active"{% endif %}{% endmacro %}
<div class="project-title"><h1><a href="{{url_for('projects')}}">{{session.project.name}}</a><br><small>Anemone</small></h1></div>
  <nav role="navigation">
	<ul class="nav nav-pills nav-stacked" id="stacked-menu">
	  <li{{ activetab("login") }}>{% if not session.logged_in %}<a href="{{ url_for('login') }}">Sign in</a>{% else %}<a href="{{ url_for('logout') }}">Sign out</a>{% endif %}
	  </li>
	  <li{{ activetab("dashboard") }}><a href="/{{session.project.slug}}">Dashboard</a></li>
	  <li{{ activetab("jobs") }}><a href="/{{session.project.slug}}/jobs">Jobs</a></li>
	  <li{{ activetab("configuration") }}><a href="/{{session.project.slug}}/configuration">Configuration</a></li>
	</ul>
</nav>
