{% extends "layout.html" %}

{% block title %}Anemone - Configuration ✎{% endblock %}

{% block body %}
<h2>Configuration</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Anemone settings (universal, applies not just to this project)</h3>
	</div>
	<div class="panel-body">
		<label>Edit these settings in the "application.cfg" file in the Anemone directory</label>
		<div class="input-group">
			<span class="input-group-addon">Unity path: </span>
			<input type="text" class="form-control" value="{{unity}}" readonly>
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon">SSH key: </span>
			<textarea name="ssh-cert" id="ssh_cert" class="form-control" readonly>{{ssh}}</textarea>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{session.project.name}} settings</h3>
	</div>
	<div class="panel-body">
		<form action="{{ url_for('configuration_view', project=session.project.slug) }}" method=post class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Project name: </span>
				<input name=name type=text class="form-control" value="{{session.project.name}}">
				<input name=slug type=text class="form-control" value="{{session.project.slug}}" readonly>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">Description: </span>
				<textarea name=description rows=5 class="form-control">{{ session.project.description }}</textarea>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">Project output folder: </span>
				<input name=output type=text class="form-control" value="{{session.project.output}}">
			</div>
			<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="input-group">
						<span class="input-group-addon">Project file: </span>
						<input name=path type=text class="form-control" value="{{session.project.path}}">
					</div>
				</div>
				{% if build %}
				<div class="panel-body form-group">
					Use the buildfile to configure any of the following settings: <br>
					Global settings:
					{% for key, value in build.m_values.items() %}
					<div class="input-group">
						<span class="input-group-addon">{{key}}</span>
						<input type=text class="form-control" value="{{value}}" readonly>
					</div>
					{% endfor %}
					<br>
					{% for key, configuration in build %}
					{{key}}:
					{% for key, value in configuration.m_values.items() %}
					<div class="input-group">
						<span class="input-group-addon">{{key}}</span>
						<input type=text class="form-control" value="{{value}}" readonly>
					</div>
					{% endfor %}
					<br>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<div class="btn-group" role="group" aria-label="...">
				{% if not session.logged_in %}
				<a href="{{url_for('login')}}">Sign in</a> to edit and update settings)
				{% else %}
				<input type=submit value="Update" class="btn btn-primary">
				{% endif %}
			</div>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
{% endblock %}
{% block late_scripts %}
<script type="text/javascript" language="javascript">
$(document).ready(function(){
	var area = $("#ssh_cert")[0];
	if (area == null) {
		return;
	}
    area.style.height = "1px";
    area.style.height = (area.scrollHeight) + "px";
	area.style.overflow = "hidden";
	area.style.resize = "none";
});
</script>
{% endblock %}
