{% extends "layout.html" %}

{% block title %}Anemone - Dashboard{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
{% endblock %}

{% block body %}
<h2>Dashboard</h2>
<div class="panel panel-default panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Summary</h3>
  </div>
  <div class="panel-body">
      <div class="row">
          <graph></graph>
          <script type="text/javascript">
            var graph = d3.select("graph")
                 .append("svg")
                 .attr("width", 200)
                 .attr("height", 200);

            var circle = graph.append("circle")
                 .attr("cx", 100)
                 .attr("cy", 100)
                 .attr("r", 100)
                 .style("fill", "#d6e9c6"); //#ebccd1
          </script>
          bla
      </div>
  </div>
  <div class="panel-footer">

  </div>
</div>
<div class="panel panel-default jobs-table">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/jobs.html"> <i class="fa fa-table"></i> Jobs</a></h3>
  </div>
  <div class="panel-body">
      <table class="table" style="">
          <thead>
              <tr>
                  <th style="width:10px; ">Status</th>
                  <th>Name</th>
                  <th>Job Started</th>
                  <th>Build time</th>
              </tr>
          </thead>
          <tbody>
              {% for row in entries %}
              <tr>
                  <td class="smallrow"><i class="{{ get_status_icon(row.STATUS) }}"></i></td>
                  <td><a href="#">{{ row.NAME }}</a></td>
                  <td>{{ row.START|safe }}</td>
                  <td>{{ row.END|safe }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <div class="panel-footer"></div>
</div>
{% endblock %}
