{% extends "layout.html" %}

{% block title %}Anemone - Dashboard{% endblock %}

{% block head %}<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>{% endblock %}

{% block late_scripts %}<script src="{{ url_for('static', filename='projecthealth.js') }}"></script>{% endblock %}

{% block body %}
<h2>Dashboard</h2>
<div class="panel panel-default panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-pie-chart"></i> Summary</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<graph style="float:left"></graph>
			<br>
			<br>
			The last {{health.total}} builds have had <b style="color:green">{{health.success}}</b> successful build, <b style="color:#DEDE00">{{health.warning}}</b> builds completed with warnings and <b style="color:red">{{health.error}}</b> failed builds
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Quick actions</h3>
	</div>
	<div class="panel-body">
		<form class="" action="/test-build/{{session.project.slug}}" method="post">
		{% for buildtype in buildconf %}
			<button type=submit name=config value="{{buildtype}}" class="btn btn-default">{{buildtype}}</button>
		{% endfor %}
	</form>
	</div>
</div>
<div class="panel panel-default jobs-table">
	<div class="panel-heading">
		<h3 class="panel-title"><a href="/jobs"> <i class="fa fa-table"></i> Jobs</a></h3>
	</div>
	<div class="panel-body">
		{% include "partials/jobstable.html" %}
	</div>
	<div class="panel-footer"></div>
</div>
{% endblock %}
