{% extends "layout.html" %}

{% block title %}Anemone - Dashboard{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
{% endblock %}

{% block body %}
<h2>Dashboard</h2>
<div class="panel panel-default panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Summary</h3>
  </div>
  <div class="panel-body">
      <div class="row">
          <graph></graph>
          <script type="text/javascript">
            var graph = d3.select("graph")
                 .append("svg")
                 .attr("width", 200)
                 .attr("height", 200);

            var circle = graph.append("circle")
                 .attr("cx", 100)
                 .attr("cy", 100)
                 .attr("r", 100)
                 .style("fill", "#d6e9c6"); //#ebccd1
          </script>
          bla
      </div>
  </div>
  <div class="panel-footer">

  </div>
</div>
<div class="panel panel-default jobs-table">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-table"></i> Jobs</h3>
  </div>
  <div class="panel-body">
      <table class="table" style="">
          <thead>
              <tr>
                  <th style="width:10px; ">Status</th>
                  <th>Name</th>
                  <th>Job Started</th>
                  <th>Build time</th>
              </tr>
          </thead>
          <tbody>
          <tr>
              <td class="smallrow"><i class="fa fa-clock-o fa-2x"></i></td>
              <td><a href="#">WhatBlackback-120202107</a></td>
              <td>2016-12-01 00:00:00</td>
              <td>NaN</td>
          </tr>
          <tr>
              <td class="smallrow"><i class="fa fa-check-circle fa-2x"></i></td>
              <td><a href="#">UnhappyFalcon-110202112</a></td>
              <td>2009-12-01 00:00:00</td>
              <td>46 min</td>
          </tr>
          <tr>
              <td class="smallrow"><i class="fa fa-cog fa-spin fa-2x"></i></td>
              <td><a href="#">CarefulSea-110202107</a></td>
              <td>2009-12-01 00:00:00</td>
              <td>15 min</td>
          </tr>
          <tr>
              <td class="smallrow"><i class="fa fa-times-circle fa-2x"></i></td>
              <td><a href="#">ForwardSloth-105202102</a></td>
              <td>2009-11-01 15:24:24</td>
              <td>15 min</td>
          </tr>
              <!--
              ForwardSloth
              ClearChimpanzee
              MissionHorse
              MiddlePorcupine
              OpeningBadger
              ClassicVixen
              VariousMoose -->
          </tbody>
      </table>
  </div>
  <div class="panel-footer"></div>
</div>
{% endblock %}
