{% extends "layout.html" %}

{% block title %}Anemone - {{ data.NAME }}{% endblock %}

{% block body %}
<h2>Job ({{ data.ID }})</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        <span class="label label-default" style="padding-top:.7em"><i class="{{get_status_icon(data.STATUS)}}"></i> TODO STATUS {{ data.STATUS }}</span>
        {{ data.NAME }}
        {% if session.logged_in %} <a href="#"><i class="fa fa-pencil"></i></a>{% endif %}
    </h3>
  </div>
  <div class="panel-body">
      {% if session.logged_in %} <a href="#"><i class="fa fa-pencil"></i></a>{% endif %} Name:<br>
      {{ data.NAME }}
      <br>
      <br>
      {% if session.logged_in %} <a href="#"><i class="fa fa-pencil"></i></a>{% endif %} Description:<br>
      {{ data.DESC }}
      <br>
      <br>
      Build started: (Todo: timeago.js)<br>
      {{ data.START }}
      <br>
      <br>
      Build ended: (Todo: timeago.js)<br>
      {{ data.END }}
      <br>
      <br>

      <button type="button" name="button">Show build log</button>
  </div>
  <div class="panel-footer">

  </div>
</div>

{% endblock %}
