<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Anemone{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.min.css') }}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container-fluid fullsite">
			<div class="row fullsite">
				<div class="col-sm-2 sidenav .visible-lg-* .visible-md-*">
				{% include "partials/sidebar.html" %}
				</div>
				<div class="col-sm-10 content">
				{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
				{% endfor %}
				{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	</body>
</html>
