{% extends "layout.html" %}
{% block title %}Anemone - Sign in{% endblock %}

{% block body %}
<h2> </h2>
<div class="panel panel-default panel-primary">
    <div class="panel-heading">Sign in</div>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <div class="panel-body">
    <form action="{{ url_for('login') }}" method=post>
      <div class="input-group">
        <span class="input-group-addon">Username</span>
        <input type=text name=username class="form-control">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Password</span>
        <input type=password name=password class="form-control">
      </div>
      <br>
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <input type=submit value="Login" class="btn btn-success btn-sm">
        </div>
      </div>
      </div>
    </form>
  <div class="panel-footer">  </div>
</div>
{% endblock %}
