{% extends "layout.html" %}

{% block title %}Anemone - Create job{% endblock %}

{% block late_scripts %}<script src="{{ url_for('static', filename='randomname.js') }}"></script>
<script>
	var time_selector = $("#time_selector");
	var tzoffset = (new Date()).getTimezoneOffset() * 60000
	$(document).ready(function() {getRandomName('JobIDField');time_selector.val((new Date(Date.now() - tzoffset)).toISOString());});
	function buildNowButton() {
		time_selector.prop("disabled", time_selector.is(':enabled'));
		time_selector.val((new Date(Date.now() - tzoffset)).toISOString());
	}
</script>
{% endblock %}

{% block body %}
<h2>Create a new job</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<form  class="form-group" action="{{url_for('job_new', project=session.project.slug)}}" method="post">
		<label>Name</label>
		<div class="input-group">
			<input type=text id="JobIDField" class="form-control" name="jobname">
			<span class="input-group-btn">
				<button class="btn btn-default" type=button onclick="getRandomName('JobIDField')"><i class="fa fa-refresh" aria-hidden="true"></i> Generate</button>
			</span>
		</div>
		</span>
		<br>
		<br>
		<label>Build configuration </label>
		<select name="buildconfigurations">
			{% for item in buildconf %}
				<option value="{{item}}">{{item}}</option>
			{% endfor %}
		</select>
		<br>
		<br>
		<label>Schedule build </label>
		<input name="starttime" type=datetime id="time_selector" style="width:185px"> <!-- TODO https://github.com/fullcalendar/fullcalendar --> or <button type=button data-toggle=button class="btn btn-default" onclick="buildNowButton()">Now</button>
		<br>
		<br>
		<input type=submit class="btn btn-primary" value="Submit">
		</form>
	</div>
	<div class="panel-footer"></div>
</div>
{% endblock %}
